.me{
    background: transparent linear-gradient(369deg, rgba(182, 184, 68, 0.404) 0%, #aed30932 100%) 0% 0% no-repeat padding-box;
    padding-top: 70px;
   
}
 
.me__main{
    background: url('../assets/images/me-time.jpg');
    height:400px;
    position: relative;
    background-size: cover;
    background-position: center;
}
@media only screen and (min-width: 800px) {
    .me__content{
     max-width: 85%;
    }
  }
  .me__content{
      margin: auto;
      margin-top: 60px;
      min-height: 40vh;

  }
  .me__content p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgb(47, 46, 46);
  }