.testi__content{
    /* border: solid red; */
    margin: auto;
    margin-top: 100px;
    padding-bottom: 50px;
    /* height: 200vh; */
    /* background-color: gray; */
    /* background-color: red; */
    
}
.testi{
    background: transparent linear-gradient(369deg, rgba(201, 202, 118, 0.075) 0%, #aed30932 100%) 0% 0% no-repeat padding-box;
}

@media only screen and (min-width: 800px) {
    .testi__content{
       
     max-width: 85%;
    }
  }


  @media only screen and (max-width: 800px) {
    .testi__content{
    padding: 15px;
    margin-top: 0px;
    }
  }

*, *:before, *:after {
    box-sizing: inherit;
  }
  
  
  .message {
    color: #000;
    clear: both;
    line-height: 18px;
    /* font-size: 15px; */
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    /* z-index: -1; */
  }
  
  .message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .metadata {
    /* display: inline-block; */
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: 15px;
    padding-bottom: 20px;
    /* border: solid; */
  }
  
  .metadata .time {
    color: rgba(0, 0, 0, .45);
    font-size: 11px;
    display: inline-block;
  }
  
  .metadata .tick {
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: 4px;
    height: 16px;
    width: 16px;
  }
  
  .metadata .tick svg {
    position: absolute;
    transition: .5s ease-in-out;
  }
  
  .metadata .tick svg:first-child {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: perspective(800px) rotateY(180deg);
            transform: perspective(800px) rotateY(180deg);
  }
  
  .metadata .tick svg:last-child {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: perspective(800px) rotateY(0deg);
            transform: perspective(800px) rotateY(0deg);
  }
  
  .metadata .tick-animation svg:first-child {
    -webkit-transform: perspective(800px) rotateY(0);
            transform: perspective(800px) rotateY(0);
  }
  
  .times h6{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;  
    color: rgba(0, 0, 0, 0.63);
    font-weight: bold;
  }
  .message.received {
    background-color: #fff;
    /* background: red; */
    border-radius: 0px 5px 5px 5px;
    /* float: left;  */
    font-family: 'Poppins', sans-serif;
    /* font-size: 17px; */
    padding: 20px;
    padding-bottom: 10px;
/* z-index: 100; */
margin: auto;
margin-top: 30px;

box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }
  #right__chat{
      /* float: right; */
  }
  .message.received p{
    line-height: 25px;
   
      /* border: saddlebrown solid; */
  }
  .message.received .metadata {
    padding: 0 0 0 16px;
  }
  
  .message.received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    top: 0;
    left: -10px;
  }
  
  .message.sent {
    background: #e1ffc7;
    border-radius: 5px 0px 5px 5px;
    float: right;
  }
  
  .message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #e1ffc7;
    top: 0;
    right: -10px;
  }
  
  /* Compose */
  
 